.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #88888847;
}

.form-container input[type="email"],
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.rdw-editor-main {
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 200px;
  padding: 10px;
}

.rdw-editor-toolbar {
  border: none;
  background-color: #f9f9f922;
}

.email-sending {
  width: 100vw;
  height: 50px;
}

.All-form-elements {
  display: flex;
  flex-direction: column;
}

.All-form-elements input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 96vw;
  margin-left: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #999;
}

.email-sending {
  font-weight: bold;
}

.email-sending::placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #888;
  box-shadow: white;
}

.sending{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 10px;
    background-color: #0f572d;
}